<h2>Satellites is a process management tool.</h2>

<p>Use Satellites to daemonize and manage your processes. Start and stop your databases, your servers, and your workers easily using this tool.</p>

<hr>

<% unless @satellites.blank? %>
  <h2>Current satellites</h2>
  
  <table>
    <th>Name</th>
    <th>Location</th>
    <th>Username</th>
    <th>Directory</th>
    <th>Command</th>
    <th>Alive?</th>
    <th></th>
    
    <% @satellites.each_with_index do |satellite, i| %>
      <tr>
        <td><%= satellite.name %></td>
        <td><%= satellite.host %>:<%= satellite.port %></td>
        <td><%= satellite.username %></td>
        <td><%= satellite.directory %></td>
        <td><%= satellite.command %></td>
        
        <% alive = satellite.alive? %>
        
        <td style="color: <%= alive ? '#00ff00' : '#ff0000' %>"><%= alive %></td>
        
        <td>
          <form style="display: inline;" action="/<%= satellite.name %>/start" method="post">
            <input type="submit" value="start">
          </form>
          
          <form style="display: inline;" action="/<%= satellite.name %>/stop" method="post">
            <input type="submit" value="stop">
          </form>
          
          <form style="display: inline;" action="/<%= satellite.name %>/restart" method="post">
            <input type="submit" value="restart">
          </form>
          
          <form style="display: inline;" action="/<%= satellite.name %>/destroy" method="post">
            <input type="submit" value="destroy">
          </form>
          
          <form style="display: inline;" action="/<%= satellite.name %>/logs" method="get">
            <input type="submit" value="logs">
          </form>
        </td>
      </tr>
      
      <% unless satellite.stdout.blank? %>
        <tr><td colspan="7" style="padding-left: 40px; padding-top: 15px; font-family: monospace; font-size: 0.8em;">
          <% satellite.stdout.reverse.each do |s| %>
            <div><%= s %></div>
          <% end %>
        </td></tr>
      <% end %>
    <% end %>
  </table>
  
  <hr>
<% end %>

<h2>Create a new satellite</h2>

<form action="/create" method="post">
  <table border="0">
    <tr>
      <td><b>Name</b></td>
      <td><input type="text" name="name"></td>
    </tr>
    
    <tr>
      <td><b>Location</b></td>
      <td>
        <input type="text" name="host"> : <input type="text" name="port">
      </td>
    </tr>
    
    <tr>
      <td><b>Username/Password</b></td>
      
      <td>
        <input type="text" name="username"> /
        <input type="password" name="password">
      </td>
    </tr>
    
    <tr>
      <td><b>Directory</b></td>
      <td><input type="text" name="directory"></td>
    </tr>
    
    <tr>
      <td><b>Command</b></td>
      <td><input type="text" name="command"></td>
    </tr>
  </table>
  
  <input type="submit" value="Submit">
</form>